@font-face {
  font-family: AncientMedium;
  src: url("/fonts/AncientMedium.ttf");
}

@font-face {
  font-family: BarCode;
  src: url("/fonts/barcode.ttf");
}

@font-face {
  font-family: FenixRegular;
  src: url("/fonts/Fenix-Regular.ttf");
}
