#newspaper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-family: AncientMedium, cursive;
    text-align: center;
    font-size: 6em;
  }
}

.news-arts {
  background-color: #EEE;
}

.news-sports {
  background-color: #DDD;
}

.news-tech {
  background-color: #CCC;
}

.news-world {
  background-color: #BBB;
}