#results {
  margin-left: auto;
  margin-right: auto;
}

#btn-news {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
  background-color: white;
  color: #0275d8;
  transition: background-color 1s;
  transition: color 1s;
}

#btn-news:hover {
  background-color: #0275d8;
  color: white;
}

#search-description {
  font-size: 1em;
  text-align: center;
  font-family: Courier New;
  margin-bottom: 100px;
}
