#results {
  margin-left: auto;
  margin-right: auto;
}

#btn-news {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
  background-color: white;
  color: #0275d8;
}

#search-description {
  font-size: 0.8em;
  text-align: center;
  font-family: Courier New;
}
