$slider-width: 82%;

#slider-container {
  width: 100%;
  z-index: 10200;
  background-color: white;
  height: 125px;
  margin-top: 20px;
  margin: 0;
  top: 0;

  #slider-dates {
    width: $slider-width;
    margin-left: auto;
    margin-right: auto;
  }

  #slider {
    width: $slider-width;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;

    .noUi-connect {
      background: #0275d8;
    }
  }
}
