$slider-width: 82%;

#slider-container {
  width: 100%;
  position: fixed;
  z-index: 10200;
  //background: linear-gradient(rgba(255,255, 255,1), rgba(255,255, 255,0));
  background-color: white;
  height: 120px;

  #slider-dates {
    width: $slider-width;
    margin-left: auto;
    margin-right: auto;
  }

  #slider {
    width: $slider-width;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
  }
}
