<template name="front">
  <div id="front">
    <h1>The Old York Times</h1>

    <p>
      "The Old York Times" is a simple application that allows you to browse the most
      relevant news for any given time range (from 1500 to 2016) and for any region. This
      region can be the entire world, a single continent or even a specific country.
    </p>


    <div class="row">
      <div class="col-md-3">
        The application works by selecting the time range first, in the slider. This interval
        is the one that will be used for the search.
      </div>

      <div class="col-md-9">
        <img class="img-responsive" src="/img/slidergif.gif"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <img style="width: 90%;" class="img-responsive" src="/img/mapgif.gif"/>
      </div>

      <div class="col-md-3">
        The second step is to select the region for the search. Leave the map as it is if
        you want to search for news in the entire world, or select a continent if you want to
        search news for that continent. After selecting a continent, you can select a single
        country if you want to search for a specific country.
      </div>
    </div>

    <p class="last-paragraph">
      After these two very simple steps, all that you have to do is hit the "Get News"
      button which will generate a cute edition of "The Old York Times" for you to read.
    </p>

    <button class="btn btn-primary" id="begin-btn">Begin</button>
  </div>
</template>
