<template name="front">
  <div id="front">
    <h1>The Old York Times</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet eu turpis at lobortis. In aliquam nisi sed nunc suscipit vehicula. Donec vestibulum mollis leo at egestas. Praesent sed quam ac metus consectetur molestie in sed urna. Donec ut eleifend nulla. Maecenas sed nunc at est lacinia vestibulum. Etiam nec tristique turpis.</p>

    <p>Integer luctus, tortor vitae laoreet sagittis, nibh purus elementum mi, ultrices porta nisl velit at lorem. Pellentesque feugiat, turpis id scelerisque semper, purus nisi pulvinar lorem, vestibulum porttitor magna leo ac lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum non ultricies sapien. Praesent gravida elit non elit bibendum sagittis. Maecenas laoreet pretium venenatis. Proin eget eleifend sapien, at posuere risus. Aliquam cursus ac risus vel auctor. Cras scelerisque lacus et suscipit imperdiet. Cras ligula dui, iaculis id congue id, dictum non elit. Aenean condimentum volutpat felis vel molestie.</p>

    <p>In mi purus, interdum nec laoreet vitae, semper non tellus. Vestibulum dapibus venenatis eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mi volutpat, condimentum sem ac, sollicitudin augue. Curabitur ac lacinia leo. Fusce non tincidunt leo. Donec turpis dolor, porta ut lorem porta, dapibus ultrices nunc. Aliquam pretium faucibus odio, in venenatis orci ornare eu. Nam euismod non massa at blandit. Curabitur gravida tellus nisl, vitae condimentum mauris tincidunt ac. Duis vestibulum nunc et erat pharetra imperdiet. Duis lacus turpis, egestas scelerisque ultricies ut, aliquam vel tortor. Nunc dignissim rhoncus mauris in dictum.</p>

    <p>Etiam laoreet tincidunt diam vel lacinia. Morbi lacus ipsum, ornare eget interdum vel, dapibus eu mi. Donec ultricies eget turpis et ornare. Maecenas accumsan enim non molestie dapibus. Suspendisse venenatis sagittis orci at pretium. Pellentesque ut nibh non nisl tristique dictum ut eu erat. Ut consectetur ligula a neque auctor, a iaculis sapien euismod. Suspendisse sagittis, lorem ut dapibus hendrerit, sapien ipsum dictum lorem, sed hendrerit magna ipsum ac diam. Integer a turpis vel dolor accumsan tincidunt. Aliquam erat volutpat.</p>

    <button class="btn btn-primary" id="begin-btn">Begin</button>
  </div>
</template>
