#front {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 4%;

  h1 {
    font-family: AncientMedium, cursive;
    text-align: center;
    font-size: 6em;
    margin-bottom: 2.5%;
  }

  p {
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 2em;
  }

  .last-paragraph {
    margin-top: 50px;
  }

  .row {
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    div {
      padding: 0;

      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }

  #begin-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
