<template name="newspaper">
  <div id="newspaper" class="newspaper-{{epoch}}">
    <div id="news-header">
      <div class="row">
        <div class="col-md-2 news-box news-box-small">"All the News<br />That's Fit to Display"</div>
        <div id="news-title" class="col-md-8">The Old York Times</div>
        <div class="col-md-2 news-box news-box-big">Shift Edition</div>
      </div>
    </div>

    <div id="news-bar">
      <hr />
      <div class="row">
        <div class="col-md-3 news-bar-left">ISSUE 1, &#169; 2016 The Old York Times</div>
        <div class="col-md-6 news-bar-center">{{location}}, {{fromDay}} <span class="small-font">of</span> {{fromDate}} <span class="small-font">to</span> {{toDay}} <span class="small-font">of</span> {{toDate}}</div>
        <div class="col-md-3 news-bar-right">{{money}} Shift Coins</div>
      </div>
      <hr />
    </div>

    {{#if mainExists}}
    <div class="card news-article news-article-breaking">
      <div class="media">
        {{#if mainImg}}
        <a class="media-left" href="#">
          <img src="http://tse3.mm.bing.net/th?id=OIP.Mf20bbdb74f1282b4df2a9c1f17293ebeo0&w=173&h=138&c=7&rs=1&qlt=90&o=4&pid=1.1">
        </a>
        {{/if}}
        <div class="media-body">
          <h4 class="card-title">{{mainHeadline}}</h4>
          <p class="card-text">{{mainText}}</p>
        </div>
        <p class="card-text pull-md-right"><small class="text-muted">By <a href="{{source}}" target="_blank">{{mainSourceText}}</a> in {{mainRegion}} on the {{mainDate}}</small></p>
      </div>
      <hr />
    </div>
    {{/if}}

    <div class="container-fluid">
      <div class="card-columns">
        {{#each news}}
        {{> newsArticle}}
        {{/each}}
      </div>
    </div>

    <hr />

    <div id="footer-bar"></div>

    <div id="footer-zone">
      <div class="row">
        <div class="col-md-4 barcode">01482032</div>
        <div class="col-md-8 footer-text">ShiftAppens 2016 - TOYT - Hackathon101</div>
      </div>
    </div>
  </div>
</template>

<template name="newsArticle">
  <div class="card news-article">
    {{#if img}}
    <img src="{{imageSrc}}" class="img-{{side}}"/>
    {{/if}}
    <h4 class="card-title">{{headline}}</h4>
    <p class="card-text">{{text}}</p>
    <div class="clearfix"></div>
    <p class="card-text"><small class="text-muted">By <a href="{{source}}" target="_blank">{{sourceText}}</a> in region on the {{date}}</small></p>
    <hr />
  </div>
</template>

<template name="emptyNewspaper">
  <div id="newspaper" class="newspaper-{{epoch}}">
    <div id="news-header">
      <div class="row">
        <div class="col-md-2 news-box news-box-small">"All the News<br />That's Fit to Display"</div>
        <div id="news-title" class="col-md-8">The Old York Times</div>
        <div class="col-md-2 news-box news-box-big">Shift Edition</div>
      </div>
    </div>

    <div id="news-bar">
      <hr />
      <div class="row">
        <div class="col-md-3 news-bar-left">ISSUE 1, &#169; 2016 The Old York Times</div>
        <div class="col-md-6 news-bar-center">{{location}}, {{fromDay}} <span class="small-font">of</span> {{fromDate}} <span class="small-font">to</span> {{toDay}} <span class="small-font">of</span> {{toDate}}</div>
        <div class="col-md-3 news-bar-right">{{money}} Shift Coins</div>
      </div>
      <hr />
    </div>

    <div id="empty-news">
    ~ {{emptyText}} ~
    </div>

    <hr />

    <div id="footer-bar"></div>

    <div id="footer-zone">
      <div class="row">
        <div class="col-md-4 barcode">01482032</div>
        <div class="col-md-8 footer-text">ShiftAppens 2016 - TOYT - Hackathon101</div>
      </div>
    </div>
  </div>
</template>
